<include file="Public/header" title="命令大全" />
<div id="page-wrapper">
	<table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>代码名称</th>
                <th>点击进入</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href={:U('Cmd/wxtb')}>微信同步</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href={:U('Cmd/back')}>自动备份</a></td>
            </tr>
            <tr>
                <td>3</td>
				<td><a href={:U('Cmd/dellog')}>删除日志</a></td>
            </tr>
        </tbody>
    </table>
</div>
<include file="Public/footer" />

