<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>This is my admin</title>
<link rel="stylesheet" href="__APUBLIC__/css/login.css" type="text/css" media="screen" />
<!-- <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>
</head>
<body>
<div class="login">
	<h1>Login</h1>
	<form name="login" method="post" action={:U('login/login')}>
		<input type="text" name="u" id="name" placeholder="用户名" required="required" />
		<input type="password" name="p" id="password" placeholder="密码" required="required" />
		<input id="inverify" class = "loginverify left" type="text" name="c" placeholder="验证码" required="required" />
		<input type="button" class="loginverify right" id="verify" value="获取验证码">
 		<input type="text" class="message" value="">
		<button type="submit" class="btn btn-primary btn-block btn-large">登录</button>
	</form>
</div>
</body>
<script type="text/javascript">
	var url ='{:U('login/postverify','','','')}';
	var url2 ='{:U('login/logincheck','','','')}';
</script>
<script type="text/javascript" src="__APUBLIC__/js/login.js"></script>
</html>






