<include file="Public/header" title="添加用户" />
<div id="page-wrapper">
<form action="{:U('add')}" method="post">
	<div class="form-group">
		<label>企业id</label>
		<input class="form-control" type="text" name="qyid" placeholder="qyid">
	</div>
	<div class="form-group">
		<label>qyname</label>
		<input class="form-control" type="text" name="qyname" placeholder="qyname">
	</div>
	<div class="form-group">
		<label>agentid</label>
		<input class="form-control" type="text" name="agentid" placeholder="agentid">
	</div>
	<div class="form-group">
		<label>appid</label>
		<input class="form-control" type="text" name="appid" placeholder="appid">
	</div>
	<div class="form-group">
		<label>appsecret</label>
		<input class="form-control" type="text" name="appsecret" placeholder="appsecret">
	</div>
	<div class="form-group">
		<label>touserid</label>
		<input class="form-control" type="text" name="touserid" placeholder="touserid">
	</div>
	<div class="form-group">
		<label>uprow</label>
		<input class="form-control" type="text" name="uprow" placeholder="uprow">
	</div>
	<div class="form-group">
		<button class="btn btn-success" type="submit" >添加</button>
	</div>


</form>
</div>

<include file="Public/footer" />
