<include file="Public/header" title="添加软件" />
<div id="page-wrapper">
	<form action="{:U('add')}" method="post">
		<div class="form-group">
			<label>用户名</label>
			<input class="form-control" type="text" name="softname" placeholder="softname">
		</div>
		<div class="form-group">
			<label>邮箱</label>
			<input class="form-control" type="text" name="href" placeholder="Href">
		</div>
		
		<div class="form-group">
			<button class="btn btn-success" type="submit" >添加</button>
		</div>


	</form>
</div>

<include file="Public/footer" />
