<include file="Public/header" title="用户编辑" />
<div id="page-wrapper">
<form action="{:U('Qyhuser/update')}" method="post">
	<div class="form-group">
		<label>userid</label>
		<input class="form-control" type="text" name="userid" value="{$userinfo.userid}" readOnly="true">
	</div>
	<div class="form-group">
		<label>姓名</label>
		<input class="form-control" type="text" name="name" value="{$userinfo.name}">
	</div>
	<div class="form-group">
		<label>部门</label>
		<input class="form-control" type="text" name="department"	
    		 value="<foreach name="userinfo.department" item="vv">{$vv},</foreach>">    	
	</div>
	<div class="form-group">
		<label>手机</label>
		<input class="form-control" type="text" name="mobile" value="{$userinfo.mobile}">
	</div>
	<div class="form-group">
		<label>weixinid</label>
		<input class="form-control" type="text" name="weixinid" value="{$userinfo.weixinid}">
	</div>
	<div class="form-group">
        <label>sex</label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="type" value="1" <if condition="$userinfo.gender eq 1"> checked="checked"</if>>男
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="type" value="2" <if condition="$userinfo.gender eq 2"> checked="checked"</if>>女
        </label>
    </div>
	<div class="form-group">
		<button class="btn btn-success" type="submit" >修改</button>
	</div>


</form>
</div>

<include file="Public/footer" />
