<ul class="nav navbar-nav side-nav">
    <li>
        <a href="{:U('index/index')}"><i class="fa fa-dashboard"></i> 仪表盘</a>
    </li>
    <li class="dropdown">
        <a href="{:U('Cmd/index')}"><i class="fa fa-reorder"></i> 命令大全</a>
    </li>
    <li class="dropdown">
        <a href="{:U('Soft/index')}"><i class="fa fa-download"></i> 软件下载</a>
    </li>
    <li class="dropdown">
        <a href="{:U('Config/index')}"><i class="fa fa-link"></i> 应用配置</a>
    </li>
    <li class="dropdown">
        <a href="{:U('Qyhuser/userlist')}"><i class="fa fa-users"></i> 企业号用户</a>  
    </li>
    <li class="dropdown">
        <a href="{:U('Qyhbase/index')}"><i class="fa fa-link"></i> 应用列表</a>
    </li>
    <li class="dropdown">
        <a href="{:U('member/index')}"><i class="fa fa-users"></i> 用户管理</a>  
    </li>
    <li class="dropdown">
        <a href="{:U('Hr/index')}"><i class="fa fa-file-text-o"></i> Hr </a>
    </li> 
<!--     <li class="dropdown">
        <a href="{:U('Qyhbase/index')}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 企业号管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">应用0列表</a></li>
            <li><a href="#">用户列表</a></li>
            <li><a href="#">缓存管理</a></li>
        </ul>
    </li> -->
</ul>